body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    background-color: black;
    color: white;
}

nav.black ul {
    background-color: black;
    list-style: none;
    display: flex;
    padding: 25px;
    border-bottom: 2px solid white;
}

nav.black ul li.spazio {
    padding-left: 8%;
}

nav.black a {
    color: white;
    font-size: 25px;
    text-decoration: none;
    padding: 20px;
}

nav.black a.click:hover {
    background-color: grey;
}

span {
    display: block;
    width: 47vw;
}


div.hero {
    position: relative;
}


div img {
    width: 100%;
}

div.text {
    max-width: 30%;
    padding: 0 0 0 5%;
    position: absolute;
    color: white;
    top: 2%;
    font-size: 30px;
}

div.descrizione {
    width: 60%;
    padding: 0 15% 0 22%;
}

div.descrizione h2 {
    color: white;
    font-size: 35px;
}

div.descrizione p {
    color: white;
    font-size: 30px;
}

div.blocco {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10%;
    padding: 0 15% 10% 15%;
}

div.due {
    width: 30vw;

}

div.cause {
    display: flex;
    width: 100%;
    margin: 4.5% 10% 5% 0;
    height: auto;
    background-color: #AE1E1E;
    justify-content: center;
    border-radius: 5px;
}

div.soluzione {
    display: flex;
    width: 100%;
    height: auto;
    background-color: #1C881A;
    justify-content: center;
    margin: 4.5% 10% 5% 0;
    border-radius: 5px;
}

div p.button {
    font-weight: bolder;
    padding: 0.5% 0 0 0;
    font-size: 30px;
}

div.lista {
    display: flex;
    margin: 4% 10% 4% 0;
    height: auto;
    background-color: #33383E;
    width: 100%;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    vertical-align: middle;
}

div.lista ul li {
    color: white;
    width: 100%
}

div.lista ul li+li {
    padding: 4% 0 0 0;
}

div.lista ul li a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: black;
    padding-top: 7%;
    padding-bottom: 10px;
    border-top: 2px solid white;
}

div.foot {
    color: white;
    font-size: 25px;
    padding-left: 20px;
    display: flex;
    gap: 58%;
}

@media(max-width: 1500px) {
    

    footer {
        margin-top: 20%;
        padding-top: 2vw;
        padding-bottom: 1vw;
        border-top: 2px solid white;
    }


    div.foot {
        font-size: 25px;
        padding-left: 5vw;
        gap: 50%;
    }
}

@media(max-width: 1200px) {

    nav.black ul{
        padding:2% 0 2% 0 ;
    }
    span {
        width: 38vw;
    }

    div.foot {
        padding-left: 4vw;
        gap: 45%;
    }
}

@media(max-width: 1111px) {

    div.descrizione {
        width: 70%;
        padding: 0 0 0 20%;
    }

    div.descrizione h2 {
        font-size: 25px;
    }
    div.text h2 {
        font-size: 25px;
    }

    div.descrizione p {
        font-size: 20px;
    }

    div.due {
        padding: 0 0 0 20%;
        width: 60%;

    }

    div.lista {
        width: 100%;
    }
}

@media (max-width: 902px) {

    span {
        width: 2vw;
    }

    section.grid {
        padding: 0 0 20% 15%;
        gap: 2%;
        height: auto;
    }


    div.foot {
        padding-left: 4vw;
        gap: 28%;
    }
}

@media (max-width: 874px) {
    span {
        width: 13vw;
    }


    div.foot {
        padding-left: 4vw;
        gap: 28%;
    }
}

@media (max-width: 520px) {
   
    nav.black a {
        font-size: 20px;
        padding: 10px;
    }
    
    span {
        display: none;
        
    }

    div.blocco {
        padding: 0 0 10% 0;
    }

    nav.black a {
        font-size: 20px;

    }

    footer {
        padding-top: 10%;
    }

    div.foot {
        font-size: 18px;
        padding-left: 4vw;
        gap: 5%;
    }
}

@media (max-width: 400px) {
    nav.black a {
        font-size: 15px;
        padding: 10px;
    }

    div.text h2{
        font-size: 20px;
    }
    footer {
        padding-top: 10%;
    }

    div.foot {
        font-size: 15px;
        padding-left: 3vw;
        gap: 10%;
    }

}