body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    background-color: black;
}

nav.black ul {
    background-color: black;
    list-style: none;
    display: flex;
    margin: 2% 0 0 0;
    padding: 0% 2% 2% 2%;
    border-bottom: 0.3vh solid white;
}

nav.black ul li.spazio {
    padding-left: 8%;
}

nav.black a {
    color: white;
    font-size: 25px;
    text-decoration: none;
    padding: 20px;

}

nav.black a.click:hover {
    background-color: grey;
}

span {
    display: block;
    width: 47vw;
}


div.hero {
    position: relative;
}

div img {
    width: 100%;


}

div.text {
    max-width: 31%;
    padding: 0 0 0 10%;
    position: absolute;
    color: white;
    bottom: 5%;
    font-size: 30px;
}

h1 {
    color: white;
    font-size: 45px;
    padding-left: 10%;
    margin-top: 5%;
}

div.blocco {
    display: flex;
    gap: 8%;
    padding: 0 10% 10% 10%;
}

div.uno {
    color: white;
    width: 35vw;
    font-size: 25px;
}

div.due {
    font-size: 25px;
}


ul.mare li {
    color: #C7DDFD;
}

ul.terra li {
    color: #BAECB9;
}

a.mare {
    color: #C7DDFD;
}

a.terra {
    color: #BAECB9;
}

footer {
    background-color: black;
    padding-top: 100px;
    padding-bottom: 10px;
    border-top: 2px solid white;

}

div.foot {
    color: white;
    font-size: 25px;
    padding-left: 20px;
    display: flex;
    gap: 58%;
}

@media(max-width: 1500px) {
    div.blocco {
        display: grid;
        grid-template-columns: 35vw repeat(auto-fill, minmax(350px, 1fr));
    }

    footer {
        padding-top: 2vw;
        padding-bottom: 1vw;
        border-top: 2px solid white;
    
    }
    
    div.foot {
        font-size: 25px;
        padding-left: 5vw;
        gap: 50%;
    }
}

@media(max-width: 1200px){
    span {
        width: 32vw;
    }

    div.foot {
        padding-left: 4vw;
        gap: 45%;
    }
}

@media (max-width: 910px) {
    span {
        width: 2vw;
    }
    h2 {
        font-size: 30px;
    }

    div.blocco {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 2%
    }

    div.uno {
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 25px;
    }

    div.due {
        display: flex;
        width: 100vw;
        justify-content: left;
        font-size: 25px;
    }

    div.foot {
        padding-left: 4vw;
        gap: 28%;
    }
}

@media (max-width: 520px) {
    h2 {
        font-size: 20px;
    }


    span{
        display: none;
    }

    nav.black a {
        font-size: 20px;
        padding: 5px;
    }

    div.foot {
        font-size: 20px;
        padding-left: 4vw;
        gap: 10%;
    }
}

@media (max-width: 400px){
    h2 {
        font-size: 17px;
    }

    nav.black a {
        font-size: 17px;
        padding: 10px;
    }

    div.foot {
        font-size: 15px;
        padding-left: 3vw;
        gap: 10%;
    }

}




